/* src/styles/globals.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #DAEBD6;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: #1b5e20;
}

section {
  padding: 2rem;
}

.intro {
  width: 90vw;
  margin: 20vh auto;
}

.text-intro {
  opacity: 0;
  text-align:center;
  color: rgb(14, 16, 15);
  font-size: 25px; /*clamp(2rem, 5rem, 3vw);*/
  letter-spacing: 0.05rem;
  will-change: transform;
  color: #0e100f;
}

.text-intro * {
  will-change: transform;
}

.animation-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subpage {
  margin-top: 30vh;
  height: 10vh;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #184725;
}

.subtitle {
  font-size: 2.5rem;
  /* font-weight: bold; */
  letter-spacing: 2px;
  color: #184725;
}

.graph-section {
  height: 90vh;
  margin: 0 auto;
  max-width: 900px;
}