ul {
  margin: 0 20%;
}

.home-container {
  font-family: sans-serif;
}

.container {
  width: 90vw;
  margin: 50vh auto;
  padding-top: 200px;
}

.split {
  opacity: 0;
  text-align: center;
  color: rgb(14, 16, 15);
  font-size: 2rem;
  will-change: transform;
  color: #0e100f;
}

.split * {
  will-change: transform;
}